{% extends "layout.html" %}


{% block container %}
<div class="container">
    <div class="text-center">
        <h1>Handout - {{ title_pag }}</h1>
    </div>
    
    <div class="d-flex justify-content-between mb-1">
        <a href="/edit/handout/{{ handout_id }}/">Edit Handout </a>
        
        <form action="/pdf/generate/{{ handout_id }}" method="POST">
            <button class="btn btn-info" type="submit">Download Handout</button>
        </form>
    </div>
    <!-- LESSONS -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Number</th>
                <th scope="col">Handout</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        {% if get_flashed_messages() %}
            <div class="alert alert-primary border text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        {% endif %}

        {% if size > 0 %}
        <tbody>
            {% for i in range(size) %}
                <tr>
                    <td colspan="1">{{ title[i] }}</td>
                    <td colspan="1">{{ number[i] }}</td>
                    <td colspan="1">{{ handout_name[i] }}</td>
                    <td colspan="1"> 
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a href="/edit/lesson/{{ lesson_id[i] }}" class="pr-2">Edit</a> |
                            <a href="/delete/lesson/{{ handout_id }}/{{ lesson_id[i] }}" class="pl-2"> Delete</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
    <!-- VOCABULARY -->
    <!-- GENERATE PDF -->
</div>
{% endblock %}