{% extends "layout.html" %}


{% block container %}
<div class="container">
    <form action="/new" method="POST">
        <div class="form-row">
            <div class="form-group col-md-10">
                <input class="form-control" type="text" name="handout_name" placeholder="Name of Handout" type="text">
            </div>
            <div class="form-group col-md-2">
                <input class="form-control" name="level" placeholder="Level" type="number" min="1">
            </div>    
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="language" placeholder="Language">
        </div>
        <div class="form-group">
            <textarea class="form-control" name="desc_csv" rows="3" style="resize: none;"> Syntax, Exercise, Vocabulary, Morphology</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Create</button>  
    </form>
</div>
{% endblock %}